<footer class="footer grybdr mrntop footertxt mrgbottom">
  <div class="container mrntop">
    <div class="row">
      <div class="col-12">
        <img src="./assets/img/icon-walk.png" class="reachImg">
        <span>
          Reach Us - G2 Sri Sakthi Ram Illam, 1<span style="vertical-align: super">st</span> Raju Naidu Layout , !00 Feet Road , Gandhipuram , Coimbatore - 641012 ,
          Land Mark : Opposite to hotel vels grand inn
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img src="./assets/img/tele.png" class="reachImg">
        <span> 8940608442 / 04224367442</span>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img src="./assets/img/Email.png" class="reachImg">
        <span>vsinstitutetech@gmail.com / vsinstrruments66@gmail.com</span>
      </div>
    </div>
  </div>
</footer>
