<div class="row  mrgtopheader">
  <div class="col-lg-3 hide">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center txtCntr">
    <span class="typography-extra-hero-subheadline">
       Lay your Boundaries
    </span>
    <span class="spanshowhide"><br/></span>
    <span class="smltxt">
     In a three-dimensional position
    </span>
  </div>
  <div class="col-lg-3 hide">
  </div>
</div>
<div class="row mrntop">
  <div class="col-lg-2 hide">
  </div>
  <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 align-self-center">
    <img src="./assets/img/001.jpg" alt="Responsive image" class=" imgMrg1Down img-thumbnail">
  </div>
  <div class="col-lg-2 hide">
  </div>
</div>
