.smltxt {
  font-size: 1.4em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.bgimg {
  /*not using
    /*background-image : url('./assets/img/construction_industry_hero_24.8.jpg');*/
  height: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  /*position: fixed;
  top: 0;*/
  width: 100%;
  z-index: -1;
}

.txtCntr {
  text-align: center;
}

.spanshowhide {
  display: none;
}

/***************************************************/
@media (max-width: 600px) {
  .spanshowhide {
    display: block;
    line-height: 1em;
  }

  .headerCenter {
    text-align: left;
    padding-left: 8%;
  }

  .navbtnstyl {
    border-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    align-self: flex-start;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding-bottom: 2px;
  }

  .hide {
    display: none;
  }

  .mrgtopheader {
    margin-top: 24% !important;
  }

  .mrntop {
    margin-top: 4% !important;
  }
}

/*******************************************************************************/
.mrntop {
  margin-top: 2%;
}

.mrgtopheader {
  margin-top: 8%;
}

.typography-extra-hero-subheadline {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: .006em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.imgMrg1Down {
  margin-top: 1%;
  padding: 0rem;
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  max-width: 100%;
  height: auto;
}



