<div id="header" class="row headerBar fixed-top">
  <div class="headerTxt col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="row">
      <div class=" col-2 col-md-2 col-sm-2 col-xs-2">
        <button id="menubtn" class="btncolor navbtnstyl " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon toolimg"></span>
        </button>
      </div>
      <div class="col-10 col-md-10 col-sm-10 col-xs-10 typography-extra-hero-subheadline headerCenter txtstyle">
        {{title}}
      </div>
    </div>
  </div>
  <div class=" col-lg-8 col-md-8 col-sm-4 col-xs-4">
    <app-navigation></app-navigation>
  </div>
</div>
<router-outlet></router-outlet>
<app-products></app-products>
<app-footer></app-footer>
