<div class="row mrntop">
  <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">

  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 smltxt orgbdr">
    Products
  </div>
</div>

<div class="row mrntop">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 productFullView">
    <div class="containerImg">
      <img src="./assets/img/1483703033_NTS-332R4.jpg" alt="..." class="imgMrg1Down rounded mx-auto d-block">
      <div class="overlay">
        <div class="text smltxt">
          <table>
            <tr>
              <td> N6
              </td>
            </tr>
            <tr>
              <td>
                ● Absolute Encoding Disk
              </td>
            </tr>
            <tr>
              <td> ● Six-line large LCD
              </td>
            </tr>
            <tr>
              <td> ● Dual Axis Compensation
              </td>
            </tr>
            <tr>
              <td> ● SD card Function and USB interface
              </td>
            </tr>
            <tr>
              <td>● Reflectorless Distance Measurement
              </td>
            </tr>
            <tr>
              <td>● Various Surveying Programs</td>
            </tr>
            <tr>
              <td>Downloads: N6 Total Station Bruchure</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 productFullView">
    <div class="containerImg">
      <img src="./assets/img/1483703033_NTS-332R4.jpg" alt="..." class="imgMrg1Down rounded mx-auto d-block">
      <div class="overlay">
        <div class="text smltxt">
          <table>
            <tr>
              <td> N6
              </td>
            </tr>
            <tr>
              <td>
                ● Absolute Encoding Disk
              </td>
            </tr>
            <tr>
              <td> ● Six-line large LCD
              </td>
            </tr>
            <tr>
              <td> ● Dual Axis Compensation
              </td>
            </tr>
            <tr>
              <td> ● SD card Function and USB interface
              </td>
            </tr>
            <tr>
              <td>● Reflectorless Distance Measurement
              </td>
            </tr>
            <tr>
              <td>● Various Surveying Programs</td>
            </tr>
            <tr>
              <td>Downloads: N6 Total Station Bruchure</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 productFullView">
    <div class="containerImg">
      <img src="./assets/img/1483703033_NTS-332R4.jpg" alt="..." class="imgMrg1Down rounded mx-auto d-block">
      <div class="overlay">
        <div class="text smltxt">
          <table>
            <tr>
              <td> N6
              </td>
            </tr>
            <tr>
              <td>
                ● Absolute Encoding Disk
              </td>
            </tr>
            <tr>
              <td> ● Six-line large LCD
              </td>
            </tr>
            <tr>
              <td> ● Dual Axis Compensation
              </td>
            </tr>
            <tr>
              <td> ● SD card Function and USB interface
              </td>
            </tr>
            <tr>
              <td>● Reflectorless Distance Measurement
              </td>
            </tr>
            <tr>
              <td>● Various Surveying Programs</td>
            </tr>
            <tr>
              <td>Downloads: N6 Total Station Bruchure</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 productFullView">
    <div class="containerImg">
      <img src="./assets/img/1483703033_NTS-332R4.jpg" alt="..." class="imgMrg1Down rounded mx-auto d-block">
      <div class="overlay">
        <div class="text smltxt">
          <table>
            <tr>
              <td> N6
              </td>
            </tr>
            <tr>
              <td>
                ● Absolute Encoding Disk
              </td>
            </tr>
            <tr>
              <td> ● Six-line large LCD
              </td>
            </tr>
            <tr>
              <td> ● Dual Axis Compensation
              </td>
            </tr>
            <tr>
              <td> ● SD card Function and USB interface
              </td>
            </tr>
            <tr>
              <td>● Reflectorless Distance Measurement
              </td>
            </tr>
            <tr>
              <td>● Various Surveying Programs</td>
            </tr>
            <tr>
              <td>Downloads: N6 Total Station Bruchure</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
